/* COLOR NAME */
/* h1{
    color: violet;
} */
/* HEX CODE */
/* h1{
    color: #a58fa5;
} */
/* RGB */
/*h1{
    color: rgb(255, 89, 221);
} */
/*body{
    background-color: wheat;
    color: red;
} */
/* div{
    background-color: wheat;
    color: red;
} */

/* OPACITY */
/* #div1{
    background-color: green;
    color: rgb(38, 0, 255);
    opacity: 0.5;
} */

/* img{
    opacity: 0.5;
} */
